{% extends "web/base.html" %}

{% block content %}
    <h1>Хэш суммы</h1>
    <h4>MD5</h4>
    <p>MD5 - алгоритм является широко используемой хэш-функцией, производящей 128-битное (16 байт) хэш-значение. Хотя
        MD5 изначально был разработан для использования в качестве криптографической хэш-функции, было обнаружено, что
        он страдает от обширных уязвимостей. Он по-прежнему может использоваться в качестве контрольной суммы для
        проверки целостности данных, но только против непреднамеренного повреждения.</p>
    <h4>SHA1</h4>
    <p>В криптографии SHA-1 (Secure Hash Algorithm 1) - это криптографическая хэш-функция, которая принимает входные
        данные и создает 160-битное (20-байтовое) хэш-значение, известное как дайджест сообщения, обычно отображаемое
        как шестнадцатеричное число длиной 40 цифр. Он был разработан агентством национальной безопасности США и
        Федеральному стандарту обработки информации США.</p>
    <h4>SHA224 и SHA256</h4>
    <p>HA256 - хеш-функция из семейства алгоритмов SHA-2 предназначена для создания «отпечатков» или «дайджестов» для
        сообщений произвольной длины. Применяется в различных приложениях или компонентах, связанных с защитой
        информации.
        SHA-2 включает значительные изменения от своего предшественника, SHA-1. SHA-2 семья состоит из шести хэш-функции
        с дайджест (хэш-значений), которые находятся 224, 256, 384 или 512 бит: алгоритм SHA-224, SHA-256, SHA-384,
        алгоритм SHA-512, алгоритм SHA-512/224, алгоритм SHA-512/256.
    </p>
    <h4>SHA512</h4>
    <p>SHA512 - хеш-функция из семейства алгоритмов SHA-2 предназначена для создания «отпечатков» или «дайджестов» для
        сообщений произвольной длины. Применяется в различных приложениях или компонентах, связанных с защитой
        информации. </p>
    <h1>Методы шифрования</h1>
    <h4>DES</h4>
    <p>Алгоритм для симметричного шифрования, разработанный фирмой IBM и утверждённый правительством США в 1977 году как
        официальный стандарт. Размер блока для DES равен 64 битам. В основе алгоритма лежит сеть Фейстеля с 16 циклами
        (раундами) и ключом, имеющим длину 56 бит. Алгоритм использует комбинацию нелинейных (S-блоки) и линейных
        (перестановки E, IP, IP-1) преобразований.</p>
    <h4>RSA</h4>
    <p>RSA (Rivest-Shamir-Adleman) является одной из первых криптосистем с открытым ключом и широко используется для
        безопасной передачи данных. В такой криптосистеме ключ шифрования является открытым и отличается от ключа
        расшифровки, который хранится в секрете (private). В RSA эта асимметрия основана на практической сложности
        факторизации произведения двух больших простых чисел, "проблема факторинга". Аббревиатура RSA состоит из
        начальных букв фамилий Рона Ривеста, Ади Шамира и Леонарда Адлемана, которые впервые публично описали алгоритм в
        1978 году. Клиффорд Кокс, английский математик, работающий в Британском разведывательном управлении
        правительственной связи (GCHQ), разработал эквивалентную систему в 1973 году, но это не было рассекречено до
        1997 года. </p>
{% endblock content %}
